h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
}

p{
    line-height: 10px;
}